
// Colors
$white: #FFFFFF;
$pink: #FFCECB;
// $pink: #ff0070;
$pinkDart: #d9004a;
$orange: #FF7367;
$red: #803346;
$blueLight: #b5f0fe;
$blue: #017fa7;
$blueDark: #364586;
$green: #016C7C;
$black: #232323;

// Fonts
$fontTitle: 'Knewave', cursive, sans-serif;
$fontBrand: 'Montserrat', sans-serif;

// Sizes
$font-p: 0.625rem; // 10 px
$font-menu: 0.6875rem; // 11 px
$font-button: 0.8125rem; // 13 px
$font-subtitle: 1.125rem; // 18 px
$font-title: 1.625rem; // 26 px

// Responsive
$max: 1440px;
$extra: 1200px;
$ipad: 1024px;
$ipad-vertical: 768px;
$wrapper: 960px;
$max-tablets: 720px;
$min-tablets: 640px;
$max-phones: 480px;
$phones: 320px;

$font-low-resolution: 12px;
$font-mobiles: 7px;
$font-ipad: 13px;
$font-low-density: 11px;
